*{
	padding: 0;
	margin: 0;
}
.page h1{
	text-align: center;
}
.intro{
	text-align: center;
}
.score_container{
	font-size: 24px;
	text-align: center;
	font-weight: 1000;
}
.highestScore{
	color:#d71939;
	font-weight: 1000;
}
#score{
	color: #d5455d;
}
.btn{
	display: inline-block;
	padding: 10px;
	background: #82ba08;
	font-size: 16px;
	border-radius: 10px;
	color: #fff;
	margin: 10px 0;
}
.grid_container{
	background: #6a934e;
	position: relative;
	margin: 0 auto;
	box-sizing:border-box;
	border-radius: 10px;

}
.grid{
	background: #47ac71;
	border-radius: 6px;
	position: absolute;
}
.number{
	background: #0fe76b;
	border-radius: 6px;
	position: absolute;
	font-family: Arial;
	font-weight: 700;
	text-align: center;
	color: #fff;
}
.score_container h1{
	color: #38b0f5
}
